<div class="hero-unit">
  <h2 class="name"><%= challenge.name %></h2>
  <%- linkTo('Edit this challenge', editChallengePath(params.id), {class: 'btn pull-right'}); %>
</div>

<h2>Challenge Properties</h2>
<div class="row list-item">
  <div class="span4">
    <h3>Name</h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= challenge.name %>"><%= challenge.name %></span></h3>
  </div>
</div>

<div class="row list-item">
  <div class="span4">
    <h3>Start Date</h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= challenge.start %>"><%= challenge.start %></span></h3>
  </div>
</div>

<div class="row list-item">
  <div class="span4">
    <h3>End Date</h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= challenge.end %>"><%= challenge.end %></span></h3>
  </div>
</div>